/* General */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    /* border: 1px solid black;*/
}

li {
    list-style: none;
}

/* Images are now responsive */
 img {
	max-width: 100%;
	height: auto;
}

/* Header */
.main-header {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

/* Header -> Logo */
.nav-logo {
	display: flex;
	justify-content: flex-start;
}

.logo {
	width: 180px;
	height: 60px;
}

/* Header -> Nav */
.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: goldenrod;
}

.main-nav ul {
	display: flex;
	order: 1;
	width: 100%;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-nav ul li {
	margin-left: 10px;
	margin-right: 10px;
}

.main-nav ul li a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 2px 2px black;
}

/* Header -> Cover Photo with Motto */
.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 700px;
	background-image: url('images/cover.jpg');
	background-size: cover;
}

.cover .motto {
	width: 100%;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 3em;
	text-shadow: 5px 5px black;
	text-align: center;
}

/* Header Media Screen */

@media screen and (min-width: 550px) {
	.main-nav ul {
	  width: 100%;
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

	.logo {
		width: auto;
	}

	.nav-logo {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 40px;
	}

	.main-nav {
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}

/* Main */
.main-content {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
	flex-direction: column;
}

.main-content h2 {
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0.5px 1px darkgrey;
}

.main-offers {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.main-offers figure {
	width: 100%;
	margin-top: 10px;
}

.main-offers figure a img {
	width: 100%;
	border-radius: 0.3em;
}

/* Main Media Screen */

@media screen and (min-width: 800px) {
	.main-offers {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.main-offers figure {
		min-width: 30%;
		width: 30%;
		margin: 10px 20px 10px;
	}

	.main-offers figure a img {
		width: 100%;
		border-radius: 1em;
	}
}

/* Footer */

.main-footer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	flex-wrap: wrap;
}

/* Footer -> Upper Part*/
.footer-upper-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-logo-motto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-logo-motto img {
	margin-top: 20px;
}

.contact-us {
	display: flex;
	flex-direction: column;
	width: 70%;
	text-align: center;
}

.contact-us h2 {
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0.5px 1px darkgrey;
}

.contact-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
	margin-left: 12%;
}

.contact-item a {
	color: black;
	text-align: center;
	font-size: 1em;
	text-shadow: 0.5px 1px darkgrey;
	text-decoration: none;
	margin-left: 10%;
}

/* Footer -> Navbar*/
.footer-nav {
	margin-top: 20px;
	background-color: goldenrod;
}

.footer-nav ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: goldenrod;
}

#copyright {
	font-size: 0.75em;
}

/* Foooter Media Screen */

@media screen and (min-width: 800px) {

	/* Footer -> Upper Part*/
	.footer-upper-part {
		flex-direction: row;
		align-items: flex-start;
		margin-top: 20px;
	}

	.main-logo-motto {
		align-items: center;
		width: 40%;
		height: 100%;
		margin-top: 0px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	.main-logo-motto img {
		width: 80%;
	}

	.contact-us {
		width: 55%;
		height: 100%;
		margin-left: 20px;
		margin-top: 20px;
	}

	.contact-us h2 {
		text-align: left;
		margin: 0px;
	}

	.contact-item {
		margin-top: 20px;
		margin-left: 0px;
	}

	.contact-item a {
		font-size: 1.5em;
		margin-left: 30px;
	}

	/* Footer -> NavBar */
	.footer-nav {
		height: 70px;
	}

	.footer-nav ul {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin-top: 0px;
	}

	.footer-nav ul li {
		margin-top: 0px;
		margin-left: 30px;
	}
}
